/****** Object:  Table [dbo].[MachineInfo]    Script Date: 10/20/2011 09:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineInfo](
	[MachineID] [int] NOT NULL,
	[MachineInstallDate] [datetime] NOT NULL,
	[AcceptCash] [bit] NOT NULL,
	[AcceptCoin] [bit] NOT NULL,
	[AcceptCUG] [bit] NOT NULL,
	[AcceptCredit] [bit] NOT NULL,
	[CugID] [int] NOT NULL,
 CONSTRAINT [PK_Machine Info] PRIMARY KEY CLUSTERED 
(
	[MachineID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This is generated by Teknovation, for monitoring machines in the field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MachineInfo', @level2type=N'COLUMN',@level2name=N'MachineID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The date the machine was commisioned initially for sales' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MachineInfo', @level2type=N'COLUMN',@level2name=N'MachineInstallDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Does this machine accept cash?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MachineInfo', @level2type=N'COLUMN',@level2name=N'AcceptCash'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Does this machine accept Coin?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MachineInfo', @level2type=N'COLUMN',@level2name=N'AcceptCoin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Does this machine accept Closed-user Groups?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MachineInfo', @level2type=N'COLUMN',@level2name=N'AcceptCUG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Does this machine accept Credit transactions?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MachineInfo', @level2type=N'COLUMN',@level2name=N'AcceptCredit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'What Closed-User Group ID does this machine belong to?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MachineInfo', @level2type=N'COLUMN',@level2name=N'CugID'
GO
